#accessories {
  padding: 100px 0;
  background: var(--bg_color);
  .intro__box {
    text-align: center;
    padding: 0 260px;
    .wrapper {
      .headingText {
        display: inline-block;
        z-index: 99;
        h2 {
          font-size: 46px;
          font-weight: 700;
          z-index: 999;
        }
      }
      p {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 400;
      }
      .shapeImg {
        top: -7px;
        left: -38px;
        z-index: -9;
      }
    }
  }
  .product__card {
    margin-top: 50px;

    .item {
      margin: 0 5px;
      margin-bottom: 40px;
    }
  }
}
