#introSection {
  background: #f0eeff;
  padding: 16px 0;
  .wrapper {
    .text {
      a {
        font-size: 16px;
        font-weight: 600;
        color: var(--heading_color);

        &:hover {
          color: var(--theme_color);
        }
      }
      span {
        font-size: 16px;
        font-weight: 600;
        color: var(--heading_color);
      }
    }
  }
}
