#productBrand {
  padding: 100px 0;
  .intro__box {
    text-align: center;
    padding: 0 240px;
    .wrapper {
      .headingText {
        display: inline-block;
        z-index: 99;
        h2 {
          font-size: 46px;
          font-weight: 700;
          z-index: 999;
        }
      }
      p {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 400;
      }
      .shapeImg {
        top: -7px;
        left: -38px;
        z-index: -9;
      }
    }
  }
  .brand__card {
    .slider {
      .slider__body {
        padding: 30px 15px;
      }
      .slick-dots li button:before {
        font-size: 12px;
      }
      .slick-dots li button:before {
        color: var(--theme_color);
      }
      .slick-dots li.slick-active button:before {
        opacity: 0.75;
        color: var(--theme_color);
      }
      .slick-dots li:hover button:before {
        opacity: 0.75;
        color: var(--theme_color);
      }
    }
  }
}
