#testimonialSection {
  padding: 100px 0;
  .intro__box {
    text-align: center;
    padding: 0 240px;
    .wrapper {
      .headingText {
        display: inline-block;
        z-index: 99;
        h2 {
          font-size: 46px;
          font-weight: 700;
          z-index: 999;
        }
      }
      p {
        margin-top: 12px;
        font-size: 16px;
        font-weight: 400;
      }
      .shapeImg {
        top: -7px;
        left: -38px;
        z-index: -9;
      }
    }
  }
  .testimonial__card {
    .slider {
      margin-top: 40px;
      .slider__body {
        padding: 25px 16px;
        .item {
          background: #fff;
          padding: 25px 28px;
          border-radius: 10px;
        }
      }
    }
  }
}
